<div class="devise ui three column centered stackable grid">
  <div class="column">
    <h2>Sign Up</h2>

    <%= form_for resource, as: resource_name, url: registration_path(resource_name), html: { class: 'new_user ui form' } do |f| %>
      <%= render 'shared/error_messages', model: resource %>

      <div class="field">
        <%= f.label :username, 'Username' %>
        <div class="ui input">
          <%= f.text_field :username, autofocus: true %>
        </div>
      </div>

      <div class="field">
        <%= f.label :email %>
        <div class="ui input">
          <%= f.email_field :email, autocomplete: "email" %>
        </div>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <div class="ui input">
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>
        <meter max="4" id="password-strength-meter" value="0"></meter>
        <span>Password Strength: </span><span id="score">0</span><span>/4</span>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %>
        <div class="ui input">
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>
      </div>

      <div class="field">
        <label id="match_label">Confirmation matches password? </label>
        <span id="yes_match" class="hide">&nbsp;YES</span>
        <span id="no_match">&nbsp;NO</span>
      </div>

      <div class="field actions">
        <%= f.submit 'Sign up', class: 'ui button primary' %>
      </div>
    <% end %>

    <div class="links">
      <%= render 'devise/shared/links' %>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'password_strength' %>