<!DOCTYPE html>
<html>
  <head>
    <title>Messenger</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
      integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ=="
      crossorigin="anonymous"
    />
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="main-content">
      <div class="ui container">
        <% flash.each do |type, message| %>
          <% if type != 'timedout' %>
            <div class="ui centered grid flash-container <%= type %>">
              <div class="column centered row message">
                <p><%= message %></p>
              </div>
            </div>
          <% end %>
        <% end %>

        <%= render 'shared/nav' %>

        <%= yield %>
      </div>
    </div>
  </body>
</html>
